# Algorithm for data setup
The purpose of the algorithm bellow is to normalize the inserted .csv file and return 2 new .csv files. One is for training and the other for test.

## Importing data
The code down below imports and cleans the data from a csv.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
dataFrame = pd.read_csv("Evadidos_concluintes_307.csv", sep=',')
file = open("Evadidos_concluintes_307.csv", "r")

In [3]:
#apaga as seguintes colunas
dataFrame.drop(['COD_CURSO'], axis=1, inplace=True)
dataFrame.drop(['NOME_CURSO'], axis=1, inplace=True)
dataFrame.drop(['ID_TURMA'], axis=1, inplace=True)
dataFrame.drop(['ID_DISCIPLINA'], axis=1, inplace=True)

In [4]:
dataFrame = dataFrame.sort_values(by=["ANO_INGRESSO", "ID_CURSO_ALUNO"])

In [5]:
#retira os espaços no inicio e final da string
dataFrame["COD_DISCIPLINA"] = dataFrame["COD_DISCIPLINA"].str.strip()
#transforma floats como 1.992 em numeros inteiros (1992)
dataFrame["ID_CURSO_ALUNO"] = round(dataFrame["ID_CURSO_ALUNO"]*1000)
dataFrame["ANO_INGRESSO"] = round(dataFrame["ANO_INGRESSO"]*1000)
dataFrame["ANO_CONC_DISC"] = round(dataFrame["ANO_CONC_DISC"]*1000)
dataFrame["ANO_EVASAO"] = round(dataFrame["ANO_EVASAO"]*1000)

In [6]:
#substitui itens iguais a 4 por "Formou" e itens diferentes de 4 por "NaoFormou"
dataFrame["FORMA_EVASAO_ITEM"] = np.where(dataFrame["FORMA_EVASAO_ITEM"] == 4, 'Formou', 'NaoFormou')

In [7]:
dataFrame.head()

,ANO_INGRESSO,PERIODO_INGRESSO,ID_CURSO_ALUNO,COD_DISCIPLINA,ANO_CONC_DISC,PERIODO_CONC_DISC,PERIODO_IDEAL,FORMA_EVASAO_ITEM,ANO_EVASAO,PERIODO_EVASAO
0,1992.0,1,34506.0,ELC104,1992.0,1,1,Formou,1997.0,2
1,1992.0,1,34506.0,ELC105,1992.0,1,1,Formou,1997.0,2
2,1992.0,1,34506.0,LTE222,1992.0,1,1,Formou,1997.0,2
3,1992.0,1,34506.0,MTM101,1992.0,1,1,Formou,1997.0,2
4,1992.0,1,34506.0,MTM144,1992.0,1,1,Formou,1997.0,2

## Normalizing data
The code down below separates the data into three dictionaries:
- disciplina (**COD_DISCIPLINA**, PERIODO_IDEAL)
- aluno (**ID_CURSO_ALUNO**, ANO_INGRESSO, PERIODO_INGRESSO, ANO_EVASAO, PERIODO_EVASAO, FORMA_EVASAO_ITEM,)
- conclusao (**COD_DISCIPLINA**, **ID_CURSO_ALUNO**, PERIODO_CONC_DISC, ANO_CONC_DISC)

In [8]:
#faz uma lista com todas as disciplinas
disciplina = []
for codigoDisciplina in dataFrame["COD_DISCIPLINA"]:
    if (codigoDisciplina not in disciplina):
        disciplina.append(codigoDisciplina)

In [ ]:
#faz um hash com entrada ID_CURSO_ALUNO e saídas mostradas abaixo
aluno = {}
for codigoAluno, anoIngresso, periodoIngresso, anoEvasao, periodoEvasao, tipoEvasao in zip(dataFrame["ID_CURSO_ALUNO"], dataFrame["ANO_INGRESSO"], dataFrame["PERIODO_INGRESSO"], dataFrame["ANO_EVASAO"], dataFrame["PERIODO_EVASAO"], dataFrame["FORMA_EVASAO_ITEM"]):
    aluno[codigoAluno] = [anoIngresso, periodoIngresso, anoEvasao, periodoEvasao, tipoEvasao]

In [ ]:
disciplinasCursadasPorAluno = {}
for codigoAluno in dataFrame["ID_CURSO_ALUNO"]:
    disciplinasCursadasPorAluno[codigoAluno] = []
    for codigoDisciplina in dataFrame["COD_DISCIPLINA"].loc[dataFrame["ID_CURSO_ALUNO"] == codigoAluno]:    
        disciplinasCursadasPorAluno[codigoAluno].append(codigoDisciplina)

In [ ]:
#faz um hash com entradas ID_CURSO_ALUNO e COD_DISCIPLINA e saídas mostradas abaixo
conclusao = {}
for codigoAluno in dataFrame["ID_CURSO_ALUNO"]:
    conclusao[codigoAluno] = {} 
    for codigoDisciplina, periodoConclusao, anoConclusao in zip(dataFrame["COD_DISCIPLINA"].loc[dataFrame["ID_CURSO_ALUNO"] == codigoAluno], dataFrame["PERIODO_CONC_DISC"].loc[dataFrame["ID_CURSO_ALUNO"] == codigoAluno], dataFrame["ANO_CONC_DISC"].loc[dataFrame["ID_CURSO_ALUNO"] == codigoAluno]):
        conclusao[codigoAluno][codigoDisciplina] = [anoConclusao, periodoConclusao]

In [ ]:
#disciplina

In [ ]:
#aluno

In [ ]:
#disciplinasCursadasPorAluno

In [ ]:
#conclusao

## Creating new DataFrame
The code down below uses the dictionaries created above to make a new DataFrame that uses the student identification (*ID_CURSO_ALUNO*) as ID and transforms each subject (*disciplina*) in one column.

In [ ]:
#A primeira coisa a ser feita é criar um dataframe com o codigo do aluno como identificador
newDataFrame = pd.DataFrame(aluno.values(), columns=["ANO_INGRESSO", "PERIODO_INGRESSO", "ANO_EVASAO", "PERIODO_EVASAO", "FORMA_EVASAO_ITEM"])
newDataFrame.insert(0, "ID_CURSO_ALUNO", aluno.keys())
for i in disciplina:
    newDataFrame[i] = np.nan

In [ ]:
def studentConclusionSemester(codigoAluno, codigoDisciplina):    
    #se periodos de conclusão e ingresso forem iguais
    if conclusao[codigoAluno][codigoDisciplina][1] >= aluno[codigoAluno][1]:
        #(ano de conclusão - ano de ingresso)*2 + (periodo de conclusão - periodo de ingresso) + 1
        return (conclusao[codigoAluno][codigoDisciplina][0] - aluno[codigoAluno][0]) * 2 + aluno[codigoAluno][1] - conclusao[codigoAluno][codigoDisciplina][1] + 1
    #se periodo de conclusao for menor que de ingresso
    elif conclusao[codigoAluno][codigoDisciplina][1] < aluno[codigoAluno][1]:    
        #(ano de conclusão - ano de ingresso)*2
        return (conclusao[codigoAluno][codigoDisciplina][0] - aluno[codigoAluno][0]) * 2

### Subject conclusion mesure
The function below sets difference between the conclusion semester and the ingress student semester.

In [ ]:
def differenceBetweenIdealAndConclusionSemesters(codigoAluno, codigoDisciplina):
    if conclusao.get(codigoAluno) == None:
        return np.nan
    elif conclusao[codigoAluno].get(codigoDisciplina) == None:
        return np.nan
    else:
        periodoIdeal = dataFrame["PERIODO_IDEAL"].loc[(dataFrame["ID_CURSO_ALUNO"] == codigoAluno) & (dataFrame["COD_DISCIPLINA"] == codigoDisciplina)].get_values()
        if periodoIdeal[0] == 99:
            return 0
        return periodoIdeal[0] - studentConclusionSemester(codigoAluno, codigoDisciplina)

In [ ]:
for codigoAluno in newDataFrame["ID_CURSO_ALUNO"]:
    for codigoDisciplina in disciplinasCursadasPorAluno[codigoAluno]:
        newDataFrame.loc[newDataFrame["ID_CURSO_ALUNO"] == codigoAluno, codigoDisciplina] = differenceBetweenIdealAndConclusionSemesters(codigoAluno, codigoDisciplina)

In [ ]:
newDataFrame = newDataFrame.sort_values(by=["ANO_INGRESSO", "ID_CURSO_ALUNO"])

In [ ]:
newDataFrame.head()

In [ ]:
#train, test = train_test_split(newDataFrame)

In [ ]:
newDataFrame.to_csv("new_data_frame.csv", index = False)